body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
 /* Small Itens */

.gray-block {
    background-color: gray;
    height: 250px;
    width: 770px;
    margin-left: 50px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-button {
    flex: 0 0 auto;
    height: 37px;
    width: 140px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    text-align: center;
    line-height: 37px; 
}

.blue-perimeter {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}


.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
/* Texts */
.text {
    color: white;
    background-color: gray;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.header-links, .second-text {
    color: #e5e7eb;
    font-size: 18px;
}
.random {
    text-align: center;
    color: #1f2934;
    font-size: 36px;
    font-weight: 900;
}

/* BIG boxes */
.cima {
    background-color: #1f2934;
}
.baixo {
    background-color: #1f2934;
}
.meio-baixo {
    background-color: #e5e7eb;
}
.box {
    padding: 15px;
    margin-left: 191px;
    margin-right: 191px;

}
.pics {
    display: flex;
    justify-content: center;
    gap: 50px;
}
/* Small Boxes */
.pics-item {
    display: flex;
    flex-direction: column;
}
.subtext {
    color: gray;
    text-align: center;
    width: 150px;
}

/* Cima parts */
.header {
    color: #f9faf8;
    display: flex;
    margin: 0;
    justify-content: space-between;

}
.hero {
    display:flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 120px;
}

/* List Property */
ul {
    list-style-type: none;
}

ul.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}
ul.hero-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 10px;
}

