body {
    margin: 0;
    font-family: "roboto", arial;
}
 /* Small Itens */

.gray-block {
    background-color: gray;
    height: 200px;
    width: 600px;
    margin-left: 50px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-button {
    flex: 0 0 auto;
    height: 37px;
    width: 140px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    text-align: center;
    line-height: 37px; 
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
/* Texts */
.text {
    color: white;
    background-color: gray;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.cima {
    background-color: #1f2934;
}
.baixo {
    background-color: #1f2934;
}
.box {
    padding: 15px;
    margin-left: 191px;
    margin-right: 191px;

}

.header-links, .second-text {
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    color: #f9faf8;
    display: flex;
    margin: 0;
    justify-content: space-between;

}
.hero {
    display:flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 120px;
}

/* List Property */
ul {
    list-style-type: none;
}

ul.links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}
ul.hero-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

